@import '../../variables';

.game-body{
  @include flex(column, center, center);
  width: 100%;
  height: 100%;
  p{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

.ring-loader{
  color: #D5959E;
  margin-top: 100px;
}

.game-game-container{
  padding: 10px;
  @include flex(column, center,center);
  width: 60%;
  margin: 5px;
  box-shadow: 1px 1px 3px 0px #C68536;
  margin-bottom: 200px;
}

.game-picture-container{
  @include flex(column, center, center);
  width: 500px;
  height: 400px;
  position: relative;
  top: 5px;
  margin: 5px;
}
.first-picture{
  // width: 250px;
  max-width: 350px;
  max-height: 400px;
  position: relative;
  box-shadow: 2px 3px 5px 0px rgba(125,125,125,1);
}

.game-next-button{
  outline: none;
  border: 2px solid;
  border-radius: 5px;;
  width: 200px;
  margin: 5px;
  padding: 10px;
  background: none;
}

.game-next-button:hover,
.game-next-button:focus{
  box-shadow: inset 200px 0 0 0 var(--hover);
    cursor: pointer;
}
.game-button{
  
}

.game-button-information-container{
  @include flex(column, center, center);
}



.correct-answer{
  transition: all 1s;
  background:rgba(0, 128, 0, 0.63); 
  outline: none;
  border: 2px solid;
  border-radius: 5px;;
  width: 200px;
  margin: 5px;
  padding: 10px;
}

.incorrect-answer{
  outline: none;
  border: 2px solid;
  border-radius: 5px;;
  width: 200px;
  margin: 5px;
  padding: 10px;
  background: none;
  transition: 0.5s;

}
$colors: (
  incorrect-answer: #BDBFCA,
  game-go-home-button: #ef6eae, 
  game-play-again-button: #ef6eae, 
  game-next-button: #C68536, 
  // game-go-home-button: #ffa260, 
  up: #e4cb58, 
  // game-next-button: #8fc866, 
  offset: #19bc8b
);

@each $button, $color in $colors {
  .#{$button} {
    --hover: #{adjust-hue($color, 15deg)};
  }
}
.incorrect-answer:hover,
.incorrect-answer:focus{
  box-shadow: inset 0 0 0 2em var(--hover);
  cursor: pointer;
}
.game-go-home-button:hover,
.game-go-home-button:focus{
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
  transform: translateY(-0.25em);
  cursor: pointer;
}

.game-play-again-button:hover,
.game-play-again-button:focus{
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
  transform: translateY(-0.25em);
  cursor: pointer;
}
.game-end-round-slide{
  width: 350px;
  height: 200px;
  margin-top: 50px;
  @include flex(column, center, center);
  box-shadow: 1px 1px 3px 0px #C68536;
  .game-go-home-button{
    outline: none;
  border: 2px solid;
  border-radius: 5px;;
  width: 200px;
  margin: 5px;
  padding: 10px;
  background: none;
  transition: 0.5s;
  }
  .game-play-again-button{
    outline: none;
  border: 2px solid;
  border-radius: 5px;;
  width: 200px;
  margin: 5px;
  padding: 10px;
  background: none;
  transition: 0.5s;
  }
}

.game-body{
  button {  
  color: var(--color);
  transition: 1s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}
}

@media screen and (max-width:700px){
  .game-game-container{
    width: 90%;
  }
  .game-body{
    width: 100vw;
  }
}

@media screen and (max-width: 500px){
  .game-picture-container{
    width: 100%;
    height: 300px;
  }
  .game-button-information-container{
    h1{
      margin-top: 5px;
      font-size: larger;
    }
  }
  .game-body{
    box-sizing: border-box;
    width: 100%;
  }
}