@import '../../variables';

.grandparent-statistics-container{
  margin-top: 25px;
  font-family: $font;
  @include flex(row, space-evenly,center);
  height: 600px;
  width: 100%;
  // background-color: pink;
  padding: 5px;
  box-sizing: border-box;
  h2{
    margin-bottom: 5px;
  }
  button {  
    color: var(--color);
    transition: 1s;
    font-family: $font;
    font-weight: 400;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: #fff;
    }
  }
}

.stats-graph{
  height: 500px;
  width: 400px;
  font-family: 'Franklin Gothic Medium';
}
.statistics-container-one{
  // border: 1px solid #7C2629;
  box-shadow: 0px 1px 1px 0px black;
  @include flex(column, center, center);
  margin: 10px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  width: 450px;
  // background-color: $primary;
}

.statistics-container-two{
  box-shadow: 0px 1px 1px 0px black;
  @include flex(column, center, center);
  margin: 10px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  width: 450px;
}

.delete-stats-button{
  position: absolute;
  bottom: 5px;
  margin: auto;
  background: none;
  border:1px solid;
  padding: 10px;
  &:hover,
  &:focus { 
    cursor: pointer;
    border-color: var(--hover);
    color: #fff;
  }
}

$colors: (
  stats-american-button: #7C2629,
  stats-european-button: #7C2629, 
  stats-paintings-button: #7C2629,
  delete-stats-button: #7C2629,
);
@each $button, $color in $colors {
  .#{$button} {
    --hover: #{adjust-hue($color, 5deg)};
  }
}

.delete-stats-button:hover,
.delete-stats-button:focus{
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.stats-toggle-category-div{
width: 400px;
@include flex(row, space-between,center);
padding: 5px;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium';


}



.stats-american-button:hover,
.stats-american-button:focus{
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.stats-european-button:hover,
.stats-european-button:focus{
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.stats-paintings-button:hover,
.stats-paintings-button:focus{
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

%toggle-buttons{
  font-family: 'Franklin Gothic Medium';
  font-size: 15px;
  background: none;
  padding: 5px;
  outline: none;
  border: 2px solid;
  border-radius: 5px;;
  width: 200px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 10px;
  background: none;
  transition: 0.5s;
  
}

%toggle-buttons:hover{
  cursor: pointer;

}

.stats-american-button:hover{
}
.stats-american-button{
@extend %toggle-buttons;
}
.stats-european-button{
  @extend %toggle-buttons;
}
.stats-paintings-button{
  @extend %toggle-buttons;
}


@media screen and (max-width:900px){
  .grandparent-statistics-container{
    position: relative;
    @include flex (column,center,center);
    height:1300px;
    margin-top: 0px;
  }
.stats-graph{
  width: 400px;
}
.statistics-container-one{
  width: 400px;
}
.statistics-container-two{
  width: 400px;
}

}

@media screen and (max-width:450px){
  .grandparent-statistics-container{
    position: relative;
    @include flex (column,center,center);
    height:1300px;
  }
.stats-graph{
  width: 300px;
}
.statistics-container-one{
  width: 300px;
}
.statistics-container-two{
  width: 300px;
}
.stats-toggle-category-div{
  width: 300px;
}
}

