.grandparent-statistics-container{
  position: relative;
  height: 100vh;
  display: inline-block;
  width: 100%;
  border: 2px solid;
}

.statistics-container{
  margin: 10px;
  position: relative;
  height: 100%;
  width: 100%;
  border: 2px solid;
}