@import '../../variables';

.dashboard-container{
  display: flex;
  height: 100%;
  width: 100vw;
  flex-direction: column;
 
  }


%category-picture{
  border-radius: 5%;
  box-shadow: 2px 3px 5px 0px rgba(125,125,125,1);
  object-fit: cover;
  width:300px;
  height:400px;
  
  
  // display: none;
}

%game-container{
  position: relative;
  height: 400px;
  width: 300px;
  display: flex;
  align-content: center;
  display: inline-block;
  @include flex(column, center, center); 
  // overflow: hidden;
  h2{
    position: relative;
    align-self: center;
    margin: 5px;
  }
  p{
    margin: 0;
    align-self: center;
  }
}

.picture-box-container{
  @extend %game-container;
  &:hover{
    cursor: pointer;
  }
}

.category-picture{
  // border-radius: 5%;
  transition: all .4s ease-out;
  @extend %category-picture;
}
.category-picture:hover{
  transform: scale(1.2);
  transition: all .4s ease;
  vertical-align: middle;
  
}

.hidden-pop-up{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;;
  left: 0;
  top: 0;
  color: white;
  opacity: 0;
  transition: all 0.5s;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.85);
  &:hover{
opacity: 100;
  }
}



.left-arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.art-bar{
  display: flex;
  align-content: center;
  justify-content: initial;
  align-self: center;
  
  width: 90%;
  height: 50px;
  margin-bottom: 25px;
  border: 2px solid;
  background-color: white;
}

.game-container{
  display: flex;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;

  align-self: center;
  width: 90%;
  // height: 60vh;
  box-sizing: border-box;
  justify-content: space-evenly;
}



.pop-up-game-box{
  position: fixed;
  top: 200px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  width: 350px;
  border: 2px solid black;
  background-color: white;
  box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  @include flex(column, flex-start, center);
  img{
    width: 100px;
  }
}



.pop-up-box-button-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@media only screen and (max-width:1050px){
  %game-container{
    width: 200px;
    border-radius: 5%;
  }
}

