@import '../../variables';

.nav-header{
  position: relative;
  top: 0;
  z-index: 2;
  background-color: $primary;
  display:flex;
  align-items: center;
  align-content: center;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  height: 65px;
  box-sizing: border-box;
  .hamburger:hover{
    cursor: pointer;
  }
}

$colors: (
  nav-register-button: white, 
);
@each $button, $color in $colors {
  .#{$button} {
    --hover: #{adjust-hue($color, 5deg)};
  }
}

// .nav-register-button:hover,
// .nav-register-button:focus{
//   box-shadow: inset 0 -3.25em 0 0 var(--hover);
// }

.nav-profile-container{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  height: 55px;
  width: 300px;
  box-sizing: border-box;
  .nav-register-button{
    // width: 100%;
    text-decoration: none;
    color: white;
    border-radius: 5%;
   

  }
  h3{
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: black;
      transition: 1s;
      box-shadow: inset 0 -3.25em 0 0 var(--hover);
    }
    border: 1px solid;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    margin-right: 15px;
    text-decoration: none;
  }
  p{
    font-weight: 900;
    color: white;
    margin: 15px;
    font-family: $font;
  }
}
.nav-prof-image-container{
  @include flex (row, center,center);
  margin-right: 5px;
  height: 55px;
  width: 50px;
  overflow: hidden;
  border: 2px solid;
  border-radius: 10%;
  box-shadow: 2px 3px 5px 0px rgba(125,125,125,1);
  img
  {
    object-fit: cover;
    transition: all .4s ease-out;
    height: 55px;
    min-width: 50px;
    
  }
  img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all .4s ease;
    vertical-align: middle;
  }
}

.nav-dropdown-hamburger-div{
  @include flex(row, initial,center);
  position: relative;
  top: 0;
  height: 62px;
  box-sizing: border-box;
  padding: 5px;
}

.nav-title{
  @include flex(row, initial,center);
  font-size: 45px;
  font-weight: 900;
  height: 55px;
  font-family: $font;
  width: 100%;
  p{
  }
}

.nav-words-title{
  text-decoration: none;
  height: 65px;
  @include flex(row, center,center);
  p{
    @include flex(row,center,center);
    align-self: center;
    margin: 0;
    height: 65px;
  }
  color: white;
}

.nav-menu-button-container{
  padding: 5px;
  box-sizing: border-box;
  @include flex(column, space-evenly,initial);
  height:100%;
}
.hamburger-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 280px;
  background-color: white;
  box-shadow: .5px .5px 2px 0px rgba(125,125,125,1);
  border: 2px solid;
  display: flex;
  flex-direction: column;
  z-index: 3;
  box-sizing: border-box;
  padding: 5px;
  
}

%menu-button-divs{
  @include flex(row, flex-start, center);
  height: 25px;
  padding: 2px;
  margin-left: 2.5px;
}

%menu-button-divs:hover{
  cursor: pointer;
}

%link-buttons{
  color: inherit;
  text-decoration: none;
}

.nav-homepage-button{
  @extend %menu-button-divs;
  p{
    margin-left:5px;
  }
  button{
    margin-left:5px;
    outline: none;
    background: none;
    border: none;
  }
}

.nav-links{
  @extend %link-buttons;
}

.hamburger-container{
  width: 5%;
  margin-left: 5px;
  height: 65px;
  display: flex;
  justify-content: initial;
  align-items: center;
}
.hamburger{
  width: 25px;
  position: relative;
  top: 0;
  left: 0;
  color: white;

}
.hamburger-two{
  width: 25px;
  position: relative;
  top: 0;
  left: 0;
  color: black;
}

.hamburger-two:hover{
  cursor: pointer;
}

@media screen and (max-width:550px){
  .nav-title{
    margin-left: 10px;
    font-size: 45px;
  }
}


@media screen and (max-width:800px){
  .nav-header{
    display: flex;
  }
  .nav-title{
    width: 100%;
    font-size: 35px;
  }
  .nav-profile-container{
    width: 300px;
    // display: flex;
    // justify-content: flex-end;
  }
  .nav-prof-image-container{
    height: 55px;
    width: 50px;
    @include flex(column,center,center);
  }
      @media screen and (max-width:450px){
      
        .nav-title{
          margin-left: 11px;
          font-size: 20px;
          font-weight:600;
        }
        .nav-profile-container{
          h3{
            margin-right: 0px;
          }
              display: flex;
          justify-content: flex-end;
        }
      }
}